asgiref
certifi
distlib
Django
django-cors-header
django-crispy-forms
django-environ
django-filter
django-pyodbc-azure
django-pyodbc-azure-2019
djangorestframework
filelock
mysql-connector-python
Pillow
pipen
platformdirs
pycodestyle
pytz
sqlparse
toml
tzdata
virtualenv
virtualenv-clone
whitenoise